.charactersLoader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;

  .characterLoader {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }

  @media screen and (max-width: 762px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}