:root {
  --btn-color: #54bab9;
}

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  &.dark {
    background-color: #111827;
    color: #e2e8f0;

    .loader{
      border: 3px solid #fff;
      border-top-color: transparent;
    }

    .character:hover {
      background-color: rgba(52, 64, 88, 0.349)
    }

    .slider::after{
      content: "\1F319";
    }
  }

  .slider::after{
    content: "\1F31E";
  }
}

.text-gradient {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  padding: 8px 20px;
  border-radius: 7px;
  transition: all 0.2s ease;
  color: #fff;
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &:focus {
    box-shadow: 0 0 1px 3px rgb(66 153 225 / 50%);
  }

  &:not(:disabled):hover {
    border: 1px solid var(--btn-color);
    background-color: transparent;
    color: var(--btn-color);
  }
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 28px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 1px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    -webkit-transition: .3s ease;
    transition: .3s ease;

    &::placeholder,
    &::-webkit-input-placeholder,
    &::-moz-placeholder {
      color: #9e9ea7;
    }

    &:focus {
      outline: none;
      border-color: #54bab883;
      background-color: #fff;
      -webkit-box-shadow: 0 0 0 4px #54bab823;
      box-shadow: 0 0 0 4px #54bab823;
    }
  }

  .icon {
    position: absolute;
    left: 1rem;
    color: #9e9ea7;
    width: 1rem;
    height: 1rem;
  }


}

.switch {
  --button-width: 3.5em;
  --button-height: 2em;
  --toggle-diameter: 1.5em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 3em;
  --color-grey: #cccccc;
  --color-green: #54bab9;  

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  input[type="checkbox"] {
    display: none;

    &:checked+.slider::after {
      transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
      box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    }

    &:active+.slider::after {
      width: var(--toggle-wider);
    }

    &:checked:active+.slider::after {
      transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
    }
  }

}

.slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.1s all ease-in-out;

  &::after {
   
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
  }

  input[type="checkbox"]:checked+& {
    background-color: var(--color-green);

    &::after {
      transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
      box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    }
  }
}


.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #0a0a0a99;
  border-top-color: transparent;
  animation: rot1 1.2s linear infinite;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 0 1rem;
}

.banner {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.767), rgba(33, 33, 33, 0.637)), url("../assets/banner.jpg");
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 5px;

  h1 {
    color: #fff;
    font-weight: bolder;
  }
}

.characters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .character {
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0.5rem;

    .character-img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 4px;
    }

    &:hover {
      background-color: #eee;
      cursor: pointer;
    }
  }
}

.filter-bar {
  display: flex;
  align-items: center;

  >.group {
    flex: 1 1 auto;
  }

  >.search-bar {
    width: 60%;
  }
}

@keyframes rot1 {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 762px) {
  .characters {
    grid-template-columns: 1fr 1fr;
  }

  .filter-bar {
    flex-wrap: wrap;
    gap: 10px;

    >.group {
      margin: 0 !important;
    }

    >.search-bar {
      width: 100%;
    }
  }
}

@media screen and (max-width: 576px) {
  .characters {
    grid-template-columns: 1fr;
  }
}